{% extends 'base.html' %}
{% block title %}
Settings
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    .table thead th {
        color: #faf9f9;
    }

    .scrollable-box {
        height: 100px;
        /* adjust as needed */
        width: 100%;
        /* adjust as needed */
        overflow-y: auto;
        display: block;
        margin: 0 auto;
    }

    .scrollable-box table {
        font-family: Arial, sans-serif;
        font-size: 15px;
        color: #faf9f9;

    }

    .table tr {
        line-height: 0.5;

    }
</style>

<body>
    <div class="mt-2 mb-3 d-flex justify-content-end" style="position: fixed; right: 20px;">
        <button id="update-all" class="btn btn-success mr-2">Update All</button>
        <button id="update_google_trends" class="btn btn-success">Update Google Trends</button>
    </div>
    <h6>Setup kw_list for google trends</h6>
    <div class="container">

        <div class="card bg-dark text-light">
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>KW - Google trends</th>
                        </tr>
                    </thead>
                </table>
                <div class="scrollable-box">
                    <table class="table table-dark" style="margin-left: 0; margin-right: auto;">
                        <tbody>
                            {% for k in data['kw'] %}
                            <tr>
                                <td>{{ k }}</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-info delete-btn">Delete</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <br>
                <h6>Add a new row:</h6>
                <form id="add-row-form" class="form-inline mb-3">
                    <label for="kw" class="mr-2">kw:</label>
                    <input type="text" id="kw" name="kw" class="form-control form-control-sm mr-2">
                    <input type="button" value="Save" id="save-btn" class="btn btn-primary btn-sm mr-2">
                    <input type="button" value="Add Row" id="add-row-btn" class="btn btn-primary btn-sm">
                </form>

            </div>
        </div>
    </div>
</body>


<script>
    $(document).ready(function () {
        $('#add-row-btn').click(function (event) {
            // Get input values
            var kw = $('#kw').val();


            // Add a new row to the table
            $('table tbody').append(
                '<tr><td>' + kw + '</td><td><button class="btn btn-sm btn-outline-info delete-btn">Delete</button></td></tr>'
            );

            // Clear input fields
            $('#kw').val('');

        });

        // Delete row function
        $(document).on('click', '.delete-btn', function () {
            $(this).parents('tr').remove();
        });
    });

    $(document).ready(function () {
        $(document).ready(function () {
            $('#save-btn').click(function () {
                let tableData = [];
                $('table tbody tr').each(function () {
                    let row = {};
                    $(this).find('td').each(function (index) {
                        switch (index) {
                            case 0: row['kw'] = $(this).text(); break;

                        }
                    });
                    tableData.push(row);
                });

                $.ajax({
                    url: '/update_table',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(tableData),
                    beforeSend: function () {
                        // Show a pop-up before the request is sent
                        alert('Saving...');
                    },
                    success: function (response) {
                        // You can also show a pop-up after the request has been successfully completed
                        alert('Saved successfully');
                    },
                    error: function () {
                        // If something went wrong, show a pop-up
                        alert('An error occurred while saving');
                    }
                });
            });
        });
    });
    $(document).ready(function () {
        $('#update_google_trends').click(function () {
            // Add your "Update All" functionality here
            console.log('Update All button clicked');

            $.ajax({
                url: '/update_goole_trends',
                type: 'POST',
                contentType: 'application/json',
                beforeSend: function () {
                    alert('run update?');
                },
                success: function (response) {
                    // Update the text element again once the request has been successfully completed
                    alert('updated successfully');
                },
                error: function () {
                    // If something went wrong, update the text element to inform the user
                    $('#status').text('An error occurred while saving');
                }
            });
        });
    });
</script>

</body>
{% endblock %}